* {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	html {
		.clearfix {
			height: 1%;
		}
	}
}
.dark-red {
	width: 100%;
	background-color: rgb(99, 2, 2);
	height: 120px;
}
.gray {
	width: 100%;
	background-color: gray;
	height: 70px;
}
a {
	&:hover {
		background-color: rgba(53, 50, 50, 0.404);
		font-weight: bold;
	}
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: gray;
}
.green {
	width: 80%;
	background-color: rgb(3, 95, 39);
	height: -webkit-fill-available;
	float: left;
	text-align: center;
}
.blue {
	width: 20%;
	float: right;
	background-color: rgb(3, 81, 117);
	height: -webkit-fill-available;
}
.yellow {
	width: 80%;
	background-color: yellow;
	height: 320px;
	margin-top: 90px;
	display: inline-block;
}
.yellow-green {
	width: 100%;
	background-color: rgb(125, 165, 47);
	height: 30px;
}
.box {
	width: 17%;
	background-color: orangered;
	height: 150px;
	display: inline-block;
	margin: 22px;
}
li {
	float: left;
	a {
		display: block;
		color: #000;
		padding: 0 16px;
		height: 70px;
		line-height: 70px;
		text-decoration: none;
		&:hover {
			background-color: #555;
			color: white;
		}
	}
}
.clearfix {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	display: inline-block;
	display: block;
}
.dropdown-content {
	content: '';
	height: 40px;
	width: 40px;
	position: absolute;
	display: none;
	right: 0;
	top: 0;
	background-color: gray;
	color: black;
	margin-top: 80px;
	text-align: center;
	line-height: 40px;
	font-size: 30px;
	cursor: pointer;
}
@media only screen and (max-width: 900px) and (min-width:400px) {
	.green {
		width: 100%;
		background-color: rgb(3, 95, 39);
		height: 100%;
		float: left;
		text-align: center;
	}
	.blue {
		display: none;
	}
	.yellow {
		width: 90%;
		background-color: yellow;
		height: 320px;
		margin-top: 90px;
		display: inline-block;
	}
	.box {
		width: 43%;
		background-color: orangered;
		height: 155px;
		display: inline-block;
		margin: 10px;
	}
}
@media only screen and (max-width:399px) {
	.blue {
		display: none;
	}
	.green {
		width: 100%;
		background-color: rgb(3, 95, 39);
		height: 100%;
		float: left;
		text-align: center;
	}
	.yellow {
		width: 80%;
		background-color: yellow;
		height: 320px;
		margin-top: 90px;
		display: inline-block;
	}
	.box {
		width: 77%;
		background-color: orangered;
		height: 160px;
		display: inline-block;
		margin: 12px;
	}
	nav {
		display: none;
		height: 210px !important;
	}
	.dropdown-content {
		display: block;
	}
	.dropdown {
		&:hover {
			nav {
				display: block;
			}
		}
	}
	li {
		float: none;
		border-bottom: 1px solid black;
		&:last-child {
			border-bottom: none;
		}
		a {
			width: 100%;
			text-align: center;
			padding: 0;
		}
	}
}
